body {
   font-family: "Garamond", 'Garamond', 'serif';
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family: "Garamond", 'Garamond', 'serif';
    padding: 0px;
    list-style: none;
    font-weight: normal;
}
nav ul li, footer ul li {
    font-family: "Garamond", 'Garamond', 'serif';
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #961b1b;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 3em;
    font-family: "Garamond", 'Garamond', 'Serif';
p {
    font-family: "Garamond", 'Garamond', 'serif';
    font-size: 1em;
    line-height: 1.4em;
    color: #961b1b;
}
footer {
    border-top: 1px solid #961b1b;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-family: "Garamond", 'Garamond', 'serif';
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
